@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(common.css);
@import url(fonts.css);
@import url(fixed-bar.css);

.wrap {
  position: absolute;
  padding: 78px 0 60px 0;
  width: 100vw;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* padding: 20px 0 130px 0; */
/* margin: 24px 0; */

@keyframes gra2 {
  0% {
    transform: scale(3);
  }
  50% {
    transform: scale(3) rotate(0.5turn);
  }
  100% {
    transform: scale(3) rotate(1turn);
  }
}

.gra {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 900px;
  background: linear-gradient(30deg, #964d9a, #964d9a, #f5af1b, #f5af1b);
  animation: gra2 12s ease-in-out infinite;
}
.contents-top {
  width: 100vw;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contents-top__logo,
.contents-top__logo-w {
  width: 284px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
}
.contents-top__logo-w {
  background-image: url(../icon/logo_big_w.png);
  margin-top: 50px;
}
.contents-top__logo {
  background-image: url(../icon/logo_big.png);
}

.contents-bottom {
  width: 100vw;
  height: 460px;
  background-color: #964d9a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.contents-bottom__bar {
  width: 100vw;
  height: 50px;
  padding: 0 5vw;
  background-color: #42164c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents-bottom__input {
  border: 2px solid #964d9a;
  width: 370px;
  height: 34px;
  border-radius: 4px;
  color: #f5af1b;
  padding: 4px;
  background-color: #5a1f68;
}
.contents-bottom__input:focus {
  outline: none;
}
.contents-bottom__album {
  width: 90vw;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.contents-bottom__a1,
.contents-bottom__a2,
.contents-bottom__a3 {
  width: 370px;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a1,
.a2,
.a3 {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-bottom li img {
  border: 3px solid #f5daf6;
  background-color: #f3b2f6;
  border-radius: 8px;
}
