.artist {
  width: 100vw;
  height: 340px;
  background-repeat: no-repeat;
  padding: 30px;
}
.artist-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.artist-info__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.artist-info__txt {
  margin-top: 10px;
  line-height: 28px;
}
.artist-info__txt h3 {
  margin-top: 6px;
  margin-bottom: -6px;
}

.category-bar {
  height: 36px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7e4681;
}
.category-bar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 36px;
  transition: background-color 0.2s ease-in-out;
  font-weight: bolder;
  color: #f5af1b;
}
.category-bar li:first-child {
  background-color: #42164c;
}
.category-bar li:hover {
  background-color: #42164c;
}

@keyframes active-box {
  from {
    transform: translate(0px, 3%);
  }
  to {
    transform: translate(0);
  }
}
.art-update {
  background-color: #251927;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art-update__box {
  margin-top: 52px;
  box-shadow: 4px 4px 8px rgb(22, 11, 21);
  animation: active-box 0.6s ease-in-out;
}
.art-update__img {
  width: 380px;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-update__black {
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, black, transparent);
  transition: 0.5s ease-out;
  opacity: 0;
}
.art-update__img:hover .art-update__black {
  opacity: 50%;
}

.art-update__bar {
  width: 380px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #492a4b;
  padding: 16px;
}
.art-update__right {
  display: flex;
  align-items: baseline;
}
