* {
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

i {
  color: whitesmoke;
}
.icon {
  width: 42px;
}
.icon-logo {
  width: 150px;
}
.icon-sm {
  width: 36px;
}
.icon-lg {
  width: 48px;
}

.bar {
  background-color: #fff;
}

.status-bar {
  background-color: rgb(42, 42, 42);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 30px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 10;
}
.status-bar__left {
  width: 84px;
  display: flex;
  justify-content: space-between;
}
.status-bar__right {
  width: 74px;
  display: flex;
  justify-content: space-between;
}
.status-bar p {
  color: whitesmoke;
}
