.feed-wrap {
  position: absolute;
  padding: 78px 0 60px 0;
  width: 100vw;
  height: 1200px;
  background-color: rgb(63, 30, 57);
}
@keyframes active-box2 {
  from {
    transform: translate(0, 60%);
  }
  to {
    transform: translate(0);
  }
}
.feed-contents {
  width: 80vw;
  height: 290px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.feed-contents:first-child {
  margin-top: 40px;
}
.feed-con1 {
  width: 300px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed-con1__profile {
  width: 52px;
  height: 52px;
  border-radius: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: thistle;
}
.feed-con1__info {
  width: 220px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feed-con1__info h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.feed-con1__info p {
  font-size: 14px;
  color: #f5af1b;
}
.feed-con2 {
  width: 300px;
  height: 180px;
  border-radius: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: thistle;
  margin-bottom: 30px;
}
.feed-con2__black {
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, black, transparent);
  transition: 0.5s ease-out;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-con2:hover .feed-con2__black {
  opacity: 60%;
}
.feed-contents:nth-child(1) {
  animation: active-box2 1s ease-in-out;
}
.feed-contents:nth-child(2) {
  animation: active-box2 2s ease-in-out;
}
.feed-contents:nth-child(3) {
  animation: active-box2 3s ease-in-out;
}

.feed-contents:nth-child(1) .feed-con1__profile {
  background-image: url(../img/ch3.png);
}
.feed-contents:nth-child(2) .feed-con1__profile {
  background-image: url(../img/ch6.png);
}
.feed-contents:nth-child(3) .feed-con1__profile {
  background-image: url(../img/ch4.png);
}

.feed-contents:nth-child(1) .feed-con2 {
  background-image: url(../img/artwork2.jpg);
}
.feed-contents:nth-child(2) .feed-con2 {
  background-image: url(../img/artwork.jpg);
}
.feed-contents:nth-child(3) .feed-con2 {
  background-image: url(../img/artwork4.png);
}
