.feed-wrap {
  position: absolute;
  padding: 78px 0 60px 0;
  width: 100vw;
  height: 1200px;
  background-color: rgb(32, 16, 29);
}
@keyframes active-box2 {
  from {
    transform: translate(0, 60%);
  }
  to {
    transform: translate(0);
  }
}
.feed-contents {
  width: 380px;
  height: 262px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 23, 41);
  border: 2px solid #964d9a;
  border-top: 10px solid #964d9a;
  border-radius: 8px;
  position: relative;
  margin-bottom: 40px;
}
/* .feed-contents_1 {
  margin-bottom: 20px;
} */
.feed-contents_2 {
  width: inherit;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8px;
}

.feed-contents:first-child {
  margin-top: 40px;
}
.feed-con1 {
  width: 376px;
  height: 54px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background-color: #6a376d;
}
.feed-con1__profile {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: thistle;
}
.feed-con1__info {
  width: 250px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.feed-con1__info h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.feed-con1__info p {
  font-size: 14px;
  color: #f5af1b;
}
.feed-con2 {
  width: 310px;
  height: 160px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: thistle;
  margin-bottom: 30px;
}
.feed-con2__black {
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, /*#964d9a*/ #dca2df, transparent);
  transition: 0.5s ease-out;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-con2:hover .feed-con2__black {
  opacity: 60%;
}
.feed-contents:nth-child(1) {
  animation: active-box2 1s ease-in-out;
}
.feed-contents:nth-child(2) {
  animation: active-box2 2s ease-in-out;
}
.feed-contents:nth-child(3) {
  animation: active-box2 3s ease-in-out;
}

.feed-contents:nth-child(1) .feed-con1__profile {
  background-image: url(../img/ch3.png);
}
.feed-contents:nth-child(2) .feed-con1__profile {
  background-image: url(../img/ch6.png);
}
.feed-contents:nth-child(3) .feed-con1__profile {
  background-image: url(../img/ch4.png);
}

.feed-contents:nth-child(1) .feed-con2 {
  background-image: url(../img/artwork2.jpg);
}
.feed-contents:nth-child(2) .feed-con2 {
  background-image: url(../img/artwork.jpg);
}
.feed-contents:nth-child(3) .feed-con2 {
  background-image: url(../img/artwork4.png);
}
