@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
@import url(common.css);
@import url(fonts.css);

.gnb__bar {
  z-index: 10;
  width: 100vw;
  height: 52px;
  padding: 0 30px;
  position: fixed;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gnb button {
  border: none;
  outline: none;
  background-color: #fff;
}
/* .gnb button:hover {
  background-color: #f0f0f0;
} */
.gnb__sub {
  z-index: 9;
  width: 24vw;
  height: 300px;
  position: fixed;
  top: 70px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(235, 225, 230);
  border-radius: 10px;
  padding: 10px;
}
.gnb__sub li {
  width: 100%;
  height: 40px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gnb button:hover {
  background-color: rgb(235, 225, 230);
}

.wrap {
  position: absolute;
  top: 82px;
  padding: 0 0 80px 0;
  width: 100vw;
}

.artist {
  width: 100vw;
  height: 380px;
  background: linear-gradient(to bottom, transparent, black),
    url(../img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
.artist-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.artist-info__img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url(../img/profileImage2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.artist-info__txt {
  margin-top: 10px;
  line-height: 28px;
}
.artist-info__txt h3 {
  margin-top: 6px;
  margin-bottom: -6px;
}

.category-bar {
  height: 46px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(117, 91, 119);
}
.category-bar li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 46px;
  transition: background-color 0.2s ease-in-out;
  font-weight: bolder;
  color: rgb(228, 192, 223);
}
/* .category-bar li:first-child {
  background-color: rgb(58, 43, 56);
} */
.category-bar li:hover {
  background-color: rgb(58, 43, 56);
}

@keyframes active-box {
  from {
    transform: translate(0px, 3%);
  }
  to {
    transform: translate(0);
  }
}
.art-update {
  background-color: rgb(58, 43, 56);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art-update__box {
  margin-top: 36px;
  box-shadow: 4px 4px 8px rgb(22, 11, 21);
  animation: active-box 0.6s ease-in-out;
}
.art-update__img {
  width: 380px;
  height: 240px;
  background-image: url(../img/artwork.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-update__black {
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, black, transparent);
  transition: 0.5s ease-out;
  opacity: 0;
}
.art-update__img:hover .art-update__black {
  opacity: 50%;
}
.art-update__bar {
  width: 380px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 16px;
}
.art-update__right {
  display: flex;
  align-items: baseline;
}
