@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(common.css);
@import url(fonts.css);
@import url(artist-artwork.css);
@import url(fixed-bar.css);

.gnb button {
  border: none;
  outline: none;
  background-color: #fff;
  transition: 0.5s ease-out;
}
.gnb button:hover {
  background-color: rgb(235, 225, 230);
}
.menu {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@keyframes boo {
  from {
    transform: translate(200px);
  }
  to {
    transform: translate(0);
  }
}
.menu ul {
  z-index: 11;
  position: absolute;
  width: 40vw;
  height: 40vh;
  right: -13vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 225, 230);
  border-radius: 10vw;
  padding: 5vh 2vw 2vh 3vw;
  animation: boo 1.6s ease-in-out;
}
.menu li {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu li,
.menu a {
  font-size: 14px;
  font-weight: bold;
  color: #964d9a;
}

.wrap {
  position: absolute;
  top: 78px;
  width: 100vw;
}

.artist {
  background: linear-gradient(to bottom, transparent, black),
    url(../img/bg1.jpg);
  background-size: cover;
}
.artist-info__img {
  background-image: url(../img/profileImage1.png);
}
.art-update__img {
  background-image: url(../img/artwork.jpg);
}
