@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(common.css);
@import url(fonts.css);
@import url(fixed-bar.css);

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #42164c;
}
.logo-nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 300px 0 0 0;
}
.logo-big {
  width: 320px;
  height: 80px;
  background-image: url(../icon/logo_big_w.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.nav {
  width: 380px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8vw;
  z-index: 10;
  background-color: #964d9a;
  /* transition: ; */
  /* 새로고침 되었을때 밑에서 올라오게 */
}
.nav form {
  height: 8vw;
  display: flex;
}
.nav button {
  background-color: #964d9a;
  border: none;
}
.nav input,
input::placeholder {
  color: #eebde7;
  font-size: 18px;
}
.nav input {
  background-color: #964d9a;
  border-radius: 40px;
  border: none;
  outline: none;
  width: 50vw;
  color: #fff;
}

.icon-xl {
  width: 300px;
  margin-bottom: 24px;
}
.icon-xs {
  width: 36px;
}
