@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(../css/common/common.css);
@import url(../css/common/fixed-bar.css);

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100vw;
  height: 920px;
  background-color: #42164c;
}
@keyframes active-box3 {
  0% {
    transform: translate(0, 0%);
  }
  20% {
    transform: translate(0, -18%);
  }
  70% {
    transform: translate(0, -18%);
  }
  100% {
    transform: translate(0, 0%);
  }
}
.logo-nav {
  width: 100vw;
  height: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 300px 0 0 0;
  animation: active-box3 10s;
}
.logo-big {
  width: 300px;
  height: 52px;
  background-image: url(../icon/logo_big_w.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 20px;
}
.nav {
  width: 70vw;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8vw;
  z-index: 10;
  background-color: #964d9a;
}
/* .nav :active {
  border-radius: 8vw;
  border: 2px solid #f985ff;
} */
.nav :hover {
  border-radius: 8vw;
  border: 2px solid #f985ff;
}
.nav form {
  width: 70vw;
  height: 52px;
  display: flex;
}
.nav button {
  background-color: #964d9a;
  border: none;
  border-radius: 8vw;
  width: 20%;
}
.nav input,
input::placeholder {
  color: #eebde7;
  font-size: 18px;
}
.nav input {
  background-color: #964d9a;
  border-radius: 8vw;
  border: none;
  outline: none;
  width: 80%;
  color: #fff;
  padding: 0 4vw;
}
/* .nav input:active {
  border: none;
} */
.nav input:hover,
.nav button:hover,
.nav img:hover {
  border: none;
}
.icon-xl {
  width: 300px;
  margin-bottom: 24px;
}
.icon-xs {
  width: 34px;
}
