@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(common.css);
@import url(fonts.css);
@import url(artist-artwork.css);
@import url(fixed-bar.css);

.wrap {
  position: absolute;
  top: 78px;
  width: 100vw;
}

.artist {
  background: linear-gradient(to bottom, transparent, black),
    url(../img/bg3.png);
  background-size: cover;
}
.artist-info__img {
  background-image: url(../img/profileImage1.jpg);
}

.art-update__img {
  background-image: url(../img/artwork2.jpg);
}

@keyframes gra {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(3) rotate(0.5turn);
  }
  100% {
    transform: scale(2) rotate(1turn);
  }
}
.gra {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #ca6ccf, #fabb33);
  animation: gra 6s ease-in-out infinite;
}
.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-logo {
  width: 320px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.login-logo__1 {
  width: 140px;
  height: 140px;
  background-image: url(../icon/logo2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -50px;
  margin-bottom: 20px;
}
.login-logo__2 {
  width: 240px;
  height: 46px;
  background-image: url(../icon/logo_big_w.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.login-form {
  width: 300px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-form input,
button {
  width: 320px;
  height: 42px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  color: #ca6ccf;
  padding: 0 20px;
}
.login-form input:nth-child(2) {
  margin-bottom: 20px;
}
.login-form input:focus {
  outline: none;
}
.login-form button {
  background-color: #964d9a;
  color: #fcbcff;
  letter-spacing: 1px;
}
.login p {
  font-size: 11px;
  margin-top: 20px;
  color: #42164c;
}
