@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
@import url(common.css);
@import url(fonts.css);
@import url(artist-artwork.css);
@import url(fixed-bar.css);

.gnb {
  width: 100vw;
  height: 52px;
  padding: 0 30px;
  position: fixed;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.wrap {
  position: absolute;
  top: 82px;
  width: 100vw;
}

.artist {
  background: linear-gradient(to bottom, transparent, black),
    url(../img/bg2.jpg);
  background-size: cover;
}
.artist-info__img {
  background-image: url(../img/profileImage1.jpg);
}

.art-update__img {
  background-image: url(../img/artwork2.jpg);
}
