* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

i {
  color: whitesmoke;
}
.icon {
  width: 42px;
}
.icon-logo {
  width: 150px;
}
.icon-sm {
  width: 36px;
}
.icon-lg {
  width: 48px;
}

.bar {
  background-color: #fff;
}

.status-bar {
  background-color: rgb(42, 42, 42);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 30px;
  padding: 0 6vw;
  position: fixed;
  top: 0;
  z-index: 10;
}
.status-bar__left {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
.status-bar__right {
  width: 74px;
  display: flex;
  justify-content: space-between;
}
.status-bar p {
  color: whitesmoke;
}

.gnb {
  width: 100vw;
  height: 44px;
  padding: 0 6vw;
  position: fixed;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
  color: rgb(160, 160, 160);
}
h4 {
  font-size: 12px;
}
h6 {
  font-size: 14px;
  color: #f5af1b;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: violet;
  font-size: 14px;
}
li {
  font-size: 15px;
}
