@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(../common/common.css);
@import url(page-common.css);
@import url(../common/fixed-bar.css);

.wrap {
  position: absolute;
  top: 78px;
  width: 100vw;
}

.artist {
  background: linear-gradient(to bottom, transparent, black),
    url(../../img/bg3.png);
  background-size: cover;
}

.artist-info__img {
  background-image: url(../../img/profileImage2.png);
}

.art-update__img {
  background-image: url(../../img/artwork2.jpg);
}
