@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(../common/common.css);
@import url(page-common.css);
@import url(page-mypage.css);
@import url(../common/fixed-bar.css);

.gnb button {
  background-color: #42164c;
}
.gnb button:hover {
  background-color: #280d2e;
}
.menu ul {
  background-color: #2c0e33;
}
.menu li,
.menu a {
  font-size: 14px;
  font-weight: bold;
  color: #a756ac;
}
.menu a:hover {
  color: #f990ff;
}

.bar {
  background-color: #42164c;
}
.status-bar {
  background-color: rgb(42, 42, 42);
}
.icon-logo {
  width: 146px;
}
.art-update {
  /*background-color: #251927;*/
  background-color: #130e14;
}
.art-update__bar {
  background-color: #492a4b;
}
