@import url(chating_common.css);

.chat-top__right {
  width: 70px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatting-you__profile {
  background-image: url(../../img/ch4.png);
}
.chatting-you__txt {
  width: 202px;
  position: relative;
}
.chatting-you__txt:nth-child(2) {
  width: 168px;
}
.chatting-you__img {
  height: 140px;
  background-image: url(../../img/chat_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 12px;
}

/* Me */
.chatting-me {
  top: 320px;
}
.chatting-me__txt {
  position: relative;
}

.chatting-you__profile,
.chatting-you__name {
  animation: chating 0.8s ease-out;
}
.chatting-you__txt:nth-child(2) {
  animation: chating 0.8s ease-out;
}
.chatting-you__txt:nth-child(3) {
  animation: chating 1.8s ease-in-out;
}
.chatting-you__txt:nth-child(4) {
  animation: chating 2.8s ease-in-out;
}
.chatting-me__txt:nth-child(1) {
  animation: chating 3.8s ease-out;
}
.chatting-me__txt:nth-child(2) {
  animation: chating 4.6s ease-out;
}

h6 {
  z-index: 2;
  font-size: 11px;
  width: 70px;
  height: 20px;
  color: #f5af1b;
  position: absolute;
  bottom: 0;
}
.chatting-you__txt:nth-child(2) h6 {
  left: 175px;
}
.chatting-you__txt:nth-child(3) h6,
.chatting-you__txt:nth-child(4) h6 {
  left: 210px;
}
.chatting-me__txt:nth-child(2) h6 {
  right: 130px;
}
