@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(../common.css);
@import url(../onts.css);
@import url(../fixed-bar.css);

a {
  text-decoration: none;
}
.wrap {
  position: absolute;
  padding: 78px 0 60px 0;
  width: 100vw;
  height: 200px;
  background-color: rgb(63, 30, 57);
}

.chat-list {
  padding: 20px 0 130px 0;
  width: 100vw;
  height: 800px;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(63, 30, 57);
}
.chat-list__box {
  width: 100vw;
  height: 110px;
  padding: 0 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-list__box:hover {
  background-color: rgb(47, 23, 43);
}
.chat-list__left {
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-list__txt {
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.chat-list__profile {
  width: 70px;
  height: 70px;
  border-radius: 28px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.new-maker {
  background-color: #f5af1b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #42164c;
  font-weight: bold;
  position: absolute;
  right: -5px;
}
.maker1 {
  background-color: rgb(2, 245, 152);
}

.chat-list h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: -6px;
  margin-bottom: 16px;
  color: #fff;
}
.chat-list p {
  font-size: 15px;
  color: #f5af1b;
}
.chat-list__time p {
  color: #964d9a;
  font-size: 12px;
}
.chat-list li:nth-child(1) .chat-list__profile {
  background-image: url(../../img/ch4.png);
}
.chat-list li:nth-child(2) .chat-list__profile {
  background-image: url(../../img/ch6.png);
}
.chat-list li:nth-child(3) .chat-list__profile {
  background-image: url(../../img/ch5.png);
}
.chat-list li:nth-child(4) .chat-list__profile {
  background-image: url(../../img/ch2.png);
}
.chat-list li:nth-child(5) .chat-list__profile {
  background-image: url(../../img/ch7.png);
}
.chat-list li:nth-child(6) .chat-list__profile {
  background-image: url(../../img/ch3.png);
}
