@import url(chating_common.css);

.chat-top__right {
  width: 120px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatting {
  height: 500px;
}
.chatting-you__profile {
  background-image: url(../../img/ch6.png);
}
.chatting-you__txt {
  width: 148px;
}
.chatting-you__txt:nth-child(3) {
  width: 230px;
}
.chat-sm {
  width: 36px;
}
.chat-m {
  width: 156px;
}

/* Me */
.chatting-me {
  top: 254px;
}

.ch1 {
  animation: chating 1s ease-in-out;
}
.ch2 {
  animation: chating 1.8s ease-in-out;
}
.ch3 {
  animation: chating 3s ease-in-out;
}
.ch4 {
  animation: chating 4.6s ease-out;
}
.ch5 {
  animation: chating 5.6s ease-out;
}
.ch6 {
  animation: chating 6s ease-out;
}
