@import url(chating_common.css);

.chat-top__right {
  width: 120px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatting-you__profile {
  background-image: url(../../img/ch6.png);
}
.chatting-you__txt {
  width: 148px;
}
.chatting-you__txt:nth-child(3) {
  width: 230px;
}
.chat-sm {
  width: 36px;
}
.chat-m {
  width: 156px;
}

/* Me */
.chatting-me {
  top: 314px;
}

.chatting-you:nth-child(1) {
  animation: chating 1s ease-in-out;
}
.chatting-you:nth-child(2) {
  animation: chating 2.4s ease-in-out;
}
.chatting-me:nth-child(3) {
  animation: chating 4s ease-in-out;
}
.chatting-you:nth-child(4) {
  animation: chating 5.4s ease-in-out;
}
