@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url(../common.css);
@import url(../fonts.css);

.chat-wrap {
  position: absolute;
  padding: 30px 0 0 0;
  width: 100vw;
  height: 1100px;
  background-color: #3f1e39;
}
.chat-top {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 44px;
  padding: 0 6vw;
  background-color: #976d91;
}
.chat-top__right {
  width: 120px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-top__right h1 {
  font-size: 18px;
}
.chat-top__icon {
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.chat-date {
  width: 100vw;
  height: 20px;
  padding: 2px;
  margin: 70px auto 0 auto;
  text-align: center;
  background-color: #613258;
  font-size: 14px;
}
.chatting {
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  padding: 12px;
}
.chatting-you {
  width: 260px;
  height: 300px;
  margin: 4px;
  display: flex;
  justify-content: space-evenly;
}
.chatting-you__profile {
  width: 52px;
  height: 52px;
  border-radius: 20px;
  background-color: #964d9a;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/ch6.png);
}
.chatting-you__txtbox {
  width: 180px;
  display: flex;
  flex-direction: column;
}
.chatting-you__txt {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 148px;
}
.chatting-you__name {
  background-color: #3f1e39;
  color: #fff;
  font-size: 16px;
  padding: 2px 0;
}
.chatting-you__txt:nth-child(3) {
  width: 230px;
}
.chat-sm {
  width: 36px;
}
.chat-m {
  width: 156px;
}

/* Me */

.chatting-me {
  width: 228px;
  height: 300px;
  position: absolute;
  top: 314px;
  right: 30px;
  margin: 4px;
}
.chatting-me__txtbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chatting-me__txt {
  background-color: rgb(255, 232, 128);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}
.chat-bottom {
  width: 100vw;
  height: 120px;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
}
.chat-bottom__form {
  width: 90vw;
  height: 80px;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}
.chat-bottom__input {
  border: none;
  width: 70vw;
  height: 40px;
}
.chat-bottom__input:focus {
  outline: none;
}
.chat-bottom__form button {
  border: none;
  background-color: #f5af1b;
  width: 60px;
  height: 40px;
  border-radius: 8px;
}
.chat-bottom__bar {
  width: 100vw;
  height: 40px;
  background-color: whitesmoke;
  position: relative;
}
.chat-bottom__icon {
  width: 180px;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 14px;
}
.chat-bottom__bar i {
  color: rgb(204, 204, 204);
}

@keyframes chating {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.chatting-you:nth-child(1) {
  animation: chating 1s ease-in-out;
}
.chatting-you:nth-child(2) {
  animation: chating 2.4s ease-in-out;
}
.chatting-me:nth-child(3) {
  animation: chating 4s ease-in-out;
}
.chatting-you:nth-child(4) {
  animation: chating 5.4s ease-in-out;
}
